<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Add a song</title>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    </head>
    <body>
        <h2>Newgrounds audio ID or YouTube link</h2>
        <form action="../api/song/add" id="addSongForm">
            <label for="song">Song: </label>
            <input type="text" name="song" id="song">
            <input type="submit" value="Upload" id="uploadBtn">
        </form>
        <p id="statusText"></p>
    </body>

    <script>
        $("#uploadBtn").click(e => {
            e.preventDefault();

            const postUrl = $("#addSongForm").attr("action");
            const songValue = $("#song").val();

            $("#statusText").empty().append("Uploading...");

            $.post(postUrl, { song: songValue })
                .done(data => {
                    if (data.id) {
                        $("#statusText").empty().append(`Song successfully added: ${data.id}`);
                    } else {
                        $("#statusText").empty().append(data.message);
                    }
                })
                .fail(data => {
                    $("#statusText").empty().append(String(data.responseJSON.message).replace(/body\//g, ""));
                });
        });
    </script>
</html>