<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Register an account</title>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    </head>
    <body>
        <h2>Register an account</h2>
        <form action="../api/account/register" id="registerAccountForm">
            <label for="name">Name: </label>
            <input type="text" name="name" id="name">
            <label for="password">Password: </label>
            <input type="password" name="password" id="password">
            <label for="email">Email: </label>
            <input type="email" name="email" id="email">
            <input type="submit" value="Register" id="registerBtn">
        </form>
        <p id="statusText"></p>
    </body>

    <script>
        $("#registerBtn").click(e => {
            e.preventDefault();

            const postUrl = $("#registerAccountForm").attr("action");
            const nameValue = $("#name").val();
            const passwordValue = $("#password").val();
            const emailValue = $("#email").val();

            $.post(postUrl, { name: nameValue, password: passwordValue, email: emailValue } )
                .done(data => {
                    $("#statusText").empty().append(`${data.message}.`);
                })
                .fail(data => {
                    const responseMessage = String(data.responseJSON.message).replace(/body\//g, "");

                    $("#statusText").empty().append(`${responseMessage.charAt(0).toUpperCase()}${responseMessage.slice(1)}.`);
                });
        });
    </script>
</html>